# Only apply to projects in subfolders
root = true

# Custom styling rules
[*.cs]
dotnet_diagnostic.IDE1006.severity = none # Naming convention (lowercase)
dotnet_diagnostic.IDE0305.severity = none # Simply collection initializer
dotnet_diagnostic.IDE0028.severity = none # Simply collection initializer
dotnet_diagnostic.IDE0017.severity = none # Simplify "new Object()"
dotnet_diagnostic.IDE0090.severity = none # Simplify "new Object()"
dotnet_diagnostic.RCS1171.severity = none # Lazy initialization